@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"].audio {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"].progress {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: #9a905d;
  }
  input[type="range"].progress::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
    margin-top: -1px;
  }
  input[type="range"].progress::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    color: #43e5f7;
  }
}

/** FF*/

input[type="range"].progress::-moz-range-progress {
  background-color: #43e5f7;
}

input[type="range"].progress::-moz-range-track {
  background-color: #9a905d;
}

/* IE*/

input[type="range"].progress::-ms-fill-lower {
  background-color: #43e5f7;
}

input[type="range"].progress::-ms-fill-upper {
  background-color: #9a905d;
}

/* IE*/

input[type="range"].progress::-ms-fill-lower {
  background-color: rgba(153, 27, 27, 1);
}

input[type="range"].progress::-ms-fill-upper {
  background-color: #9a905d;
}

input[type="range"].audio::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(163, 163, 163, 1);
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type="range"].audio::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: rgba(153, 27, 27, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type="range"].audio:focus::-webkit-slider-runnable-track {
  background: #ac51b5;
}
input[type="range"].audio::-moz-range-track {
  width: 100%;
  height: 8.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(163, 163, 163, 1);
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type="range"].audio::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 7px;
  background: rgba(153, 27, 27, 1);
  cursor: pointer;
}
input[type="range"].audio::-ms-track {
  width: 100%;
  height: 8.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type="range"].audio::-ms-fill-lower {
  background: rgba(163, 163, 163, 1);
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"].audio::-ms-fill-upper {
  background: rgba(163, 163, 163, 1);
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type="range"].audio::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 15px;
  border-radius: 7px;
  background: rgba(153, 27, 27, 1);
  cursor: pointer;
}
input[type="range"].audio:focus::-ms-fill-lower {
  background: rgba(163, 163, 163, 1);
}
input[type="range"].audio:focus::-ms-fill-upper {
  background: rgba(163, 163, 163, 1);
}

#player iframe {
  pointer-events: none;
}

.fade-in {
  animation: fadeIn ease 1s;
  background: none !important;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
  animation-iteration-count: 1;
}

.fade-out {
  animation: fadeOut ease 1s;
  -webkit-animation: fadeOut ease 1s;
  -moz-animation: fadeOut ease 1s;
  -o-animation: fadeOut ease 1s;
  -ms-animation: fadeOut ease 1s;
  animation-iteration-count: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* .player-wrapper {
  position: relative;
  padding-top: 56.25%; 
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
} */

.video-wrapper {
  /* position: relative; */
}
.react-player {
  padding-top: 56.25%;
  position: relative;
}

.react-player > div {
  position: absolute;
}

#headerBackground {
  background: linear-gradient(#10366b, #072246);
  border-bottom: 5px solid rgba(255, 255, 255, 0.05);
  box-sizing: border-box;
  position: relative;
  height: 237px;
  z-index: 99;
}

/* #header {
  position: relative;
  width: 1195px;
  height: 237px;
  margin: 0 auto 0 auto;
  border: 0px solid #fff;
  border-bottom: none;
  background-color: transparent;
  box-shadow: 0px 0px 0px 0px #000;
} */

@media (min-width: 701px) {
  #headerBackground:before {
    content: url(/headerCrest.png);
    position: absolute;
    top: 0px;
    width: 100%;
    /* left: 350px; */
  }
}

.react-tabs__tab-panel {
  display: none;
  opacity: 0;
}
.react-tabs__tab-panel.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab.react-tabs__tab--selected {
  opacity: 0.8;
}

.react-tabs__tab:hover {
  opacity: 0.8;
}

.react-tabs__tab-panel--selected {
  opacity: 1;
  animation: fade-and-slide-in 500ms ease-out;
}

@keyframes fade-and-slide-in {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Donation Form */

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

/* input[type="range"].seek {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"].seek::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.2em;
  cursor: pointer;
  border: 1px solid #29334f;
  overflow: hidden;
}

input[type="range"].seeker::-webkit-slider-thumb {
  height: 12px;
  width: 100%;
  cursor: pointer;
  -webkit-appearance: none;
  /* border-bottom: 1px solid #29334f; 
  box-shadow: 0 0 0 red, -40px 40px 0 red;
  @apply bg-gray-400;
}

input[type="range"].seeker:focus {
  outline: none;
} */

input[type="range"].seeker::-ms-track {
  width: 300px;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}
input[type="range"].seeker::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type="range"].seeker::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type="range"].seeker::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}
input[type="range"].seeker:focus::-ms-fill-lower {
  background: #888;
}
input[type="range"].seeker:focus::-ms-fill-upper {
  background: #ccc;
}
